<!DOCTYPE html>
<html>
    <head>
        <link href="../static/styles/prism.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="../static/styles/bootstrap.min.css" >
        <!--https://github.com/jonmiles/bootstrap-treeview-->
        <link href="../static/styles/bootstrap-treeview.css" rel="stylesheet">

    </head>
    <style>
        #main-page-container {
            width: 100%;
        }
        #main-left {
            float: left;
            width: 100px;
        }
        #main-right {
            float: right;
            width: 20%;
        }
        #main-center {
            margin: 0 auto;
            width: 60%;
        }
        .line-highlight::before {
            display:none !important;
        }

        #chart {
            height: 360px;
            position: relative;
            width: 360px;
        }
        .tooltip-d3 {
            background: #eee;
            box-shadow: 0 0 5px #999999;
            color: #333;
            display: none;
            font-size: 18px;
            padding: 10px;
            position: absolute;
            text-align: center;
            width: 200px;
            z-index: 100;
        }
        .axis {
          font: 10px sans-serif;
        }

        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .x.axis path {
          display: none;
        }
    </style>
    <body>
        <script type="text/javascript" src="../static/prism.js"></script>
        <script type="text/javascript" src="../static/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="../static/bootstrap.min.js"></script>
        <script src="../static/d3.min.js" charset="utf-8"></script>
        <script src="../static/d3-legend.min.js" charset="utf-8"></script>
        <script src="../static/bootstrap-treeview.js"></script>
        <script type="text/javascript" src="../static/saveSvgAsPng.js"></script>
        <script type="text/javascript" src="../static/d3-save-svg.min.js"></script>
        <div id="main-page-container">
            <div id="main-left">
            </div>
            <div id="main-right">
                <div id="tree" style="width:80%;margin: 80px auto 0px;"></div>
            </div>
            <div id="main-center" class="container" >
                <div class="row"><div class="col-xs-12">
                <div class="row" style="overflow:auto;">
                    <h1 style="    text-align: center;    display:block;font-family: 'Source Sans Pro', sans-serif;">Application Information</h1>
                    <hr />
                </div>
                <div class="row">
                    <h2 id="visualization-anchor">Visualizations</h2>
                </div>
                <div class="row">
                  <div class="save-graph-button" data-location="main-page-graph-svd" style="display:block;">
                      <button type="button" class="btn btn-info">Save Graph</button>
                  </div>
                  <div class="save-graph-svg-button" data-location="main-page-graph-svd" style="display:block;">
                      <button type="button" class="btn btn-info">Save Graph as SVG (Chrome only)</button>
                  </div>
                  <div class="btn-group">
                      <div class="save-auto-graph-json-button" id="save-auto-graph-json-button">
                          <button type="button" class="btn btn-info">Save Graph data as JSON</button>
                      </div>
                  </div>
                </div>
                <div class="row">
                    <div id="main-page-graph"></div>

                </div>
                <div class="row">
                        <h4><span>Custom Graphs</span></h4>
                        <span>Let's create a custom graph to better understand our code.</span>
                    </div>
                    <div class="row">
                        <div style='display:none'>
                            {% set counter = 1 -%}
                            {% for instructionArray in machineInstructions %}
                            <div id='inline-tooltip-{{counter}}' >
                                <div style="float:left;">
                                <span>Instructions</span>
                                <pre class="language-none">
<code>{% for instructionDict in instructionArray -%}
{{instructionDict['Opcode']}}
{% endfor %}</code></pre>
                                </div>
                                <div style="float:left;">
                                <span>Type</span>
<pre class="language-none">
<code>{% for instructionDict in instructionArray -%}
{{instructionDict['Type']}}
{% endfor %}</code></pre>
                                </div>
                                <div style="float:left;"><span>Result</span><pre class="language-none">
<code>{% for instructionDict in instructionArray -%}
{{instructionDict['Comment']}}
{% endfor %}</code></pre>
                                </div>
                                <div style="float:left;"><span>Injections</span><pre class="language-none">
<code>{% for instructionDict in instructionArray -%}
{{instructionDict['InjectionCount']}}
{% endfor %}</code></pre>
                                </div>
                                <div style="float:left;"><span>Percentage (Line)</span><pre class="language-none">
<code>{% for instructionDict in instructionArray -%}
{{instructionDict['InjectionPercentageLine']}}%
{% endfor %}</code></pre>
                                </div>
                                <div style="float:left;"><span>Percentage (Function)</span><pre class="language-none">
<code>{% for instructionDict in instructionArray -%}
{{instructionDict['InjectionPercentageFunction']}}%
{% endfor %}</code></pre>
                                </div>
                                <div style="float:left;"><span>Percentage (Application)</span><pre class="language-none">
<code>{% for instructionDict in instructionArray -%}
{{instructionDict['InjectionPercentageApplication']}}%
{% endfor %}</code></pre>
                                </div>
                            </div>
                            {% set counter = counter + 1 -%}
                            {% endfor %}
                        </div>
                    </div>
                    <div id="element_to_pop_up" style="display:none;">
                        <pre class="language-clike line-numbers"><code>{{entireCode}}</code></pre>
                    </div>
                    <div class="row">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" id="graph-focus-button" type="button" data-toggle="dropdown">
                                    <span id="graph-focus-text">Focus</span>
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" id="graph-focus" aria-labelledby="menu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Injections</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Signals</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Detections</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="btn-group">
                                <div class="dropdown" id="graph-detail-dropdown" style="display:none;">
                                    <button class="btn btn-primary dropdown-toggle" id="graph-detail-button" type="button" data-toggle="dropdown">
                                    <span id="graph-detail-text">Detail</span>
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" id="graph-detail" aria-labelledby="menu2">
                                    </ul>
                                </div>
                            </div>
                            <div class="btn-group">
                                <div class="dropdown" id="graph-type-dropdown" style="display:none;">
                                    <button class="btn btn-primary dropdown-toggle" id="graph-type-button" type="button" data-toggle="dropdown">
                                    <span id="graph-type-text">Graph Type</span>
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" id="graph-type" aria-labelledby="menu3">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bar Chart/Histogram</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pie Chart</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px;">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <div class="dropdown" id="graph-code-region-dropdown" style="display:none;margin-right: 5px;">
                                    <button class="btn btn-primary dropdown-toggle" id="graph-code-region-button" type="button" data-toggle="dropdown">
                                    <span id="graph-code-region-text">{{functionName}} - Entire Function</span>
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" id="graph-code-region" aria-labelledby="menu3">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" data-function-name="" data-region-type="0" href="#">Entire Application</a></li>
                                        <li role="separator" class="divider"></li>
{% for functionName in functionList -%}
<li class="dropdown-header">{{functionName}}</li>
<li role="presentation"><a role="menuitem" tabindex="-1" data-function-name="{{functionName}}" data-region-type="1" href="#">Entire Function</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" data-function-name="{{functionName}}" data-region-type="2" href="#">Custom line numbers</a></li>
{% endfor %}

                                    </ul>
                                </div>
                            </div>
                            <div id="line-number-selection" style="display:none;">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="graph-code-region-start" placeholder="Starting line number">
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="graph-code-region-end" placeholder="Ending line number">
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="row graph-submit-row" style="margin-top:5px;">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <div id="add-constraint-button" style="display:none;">
                                    <button type="button" class="btn btn-success">Add a constraint (Optional)</button>
                                </div>
                            </div>
                            <div class="btn-group">
                                <div class="dropdown" id="add-constraint-multiple-dropdown" style="display:none;">
                                    <button class="btn btn-primary dropdown-toggle" id="add-constraint-multiple-button" type="button" data-toggle="dropdown">
                                    <span id="add-constraint-multiple-text">Add another constraint (Optional)</span>
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" id="constraint-type-selection" aria-labelledby="menu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">AND Constraint</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">OR Constraint</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="btn-group">
                                <div id="create-graph-button" style="display:none;">
                                    <button type="button" class="btn btn-success">Create Graph</button>
                                </div>
                            </div>
                            <div class="btn-group">
                                <div class="save-graph-button" id="save-graph-button" data-location="custom-graph-svd" style="display:none;">
                                    <button type="button" class="btn btn-info">Save Graph</button>
                                </div>
                            </div>
                            <div class="btn-group">
                                <div class="save-graph-svg-button" id="save-graph-svg-button" data-location="custom-graph-svd" style="display:none;">
                                    <button type="button" class="btn btn-info">Save Graph as SVG (Chrome only)</button>
                                </div>
                            </div>
                            <div class="btn-group">
                                <div class="save-graph-json-button" id="save-graph-json-button" data-location="custom-graph-svd" style="display:none;">
                                    <button type="button" class="btn btn-info">Save Graph data as JSON</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="mplplot-input" style="display:none;">
                            <label><input type="radio" name="mode" value="grouped"> Grouped</label>
                            <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
                        </div>
                        <div id="mplplot" style="position: relative;"></div>
                    </div>
            </div>
            </div>
            </div>
        </div>
         <div class="modal fade" id="web-settings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h2 class="modal-title" style="text-align:center;">Settings</h2>
                    </div>
                    <div class="modal-body">
                            <h3>Highlighting Value</h3>
                            <p>Please enter a percentage at which to highlight lines (0-100).</p>
                            <div class="row">
                                <div class="col-xs-12">
                                <div style="width:100px;">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="highlight-value-input" placeholder="Value" aria-describedby="basic-addon">
                                            <span class="input-group-addon" id="basic-addon">%</span>
                                        </div>
                                </div>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <h3>Confidence Interval</h3>
                            <p>Please enter a confidence interval to use for the test of proportions.</p>
                            <div class="row">
                                <div class="col-xs-12">
                                <div style="width:100px;">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="confidence-value-input" placeholder="Value" aria-describedby="basic-addon">
                                            <span class="input-group-addon" id="basic-addon">%</span>
                                        </div>
                                </div>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <h3>Static vs dynamic instruction usage</h3>
                            <p>Select whether to use static or dynamic instructions for the statistical calculations.</p>
                            <div class="row">
                                <div class="col-xs-12">
                                    <form class="form-inline">
                                            <input value="1" name="instruction-type" id="use-dynamic-instructions-input" type="radio"><span>Dynamic Instructions</span>
                                        <br />
                                            <input value="2" name="instruction-type" id="not-use-dynamic-instructions-input" type="radio">Static Instructions
                                    </form>

                                </div>
                            </div>
                            <h3>Confidence Interval</h3>
                            <p>Please enter a confidence interval to use for the test of proportions.</p>
                            <div class="row">
                                <div class="col-xs-12">
                                <div style="width:100px;">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="confidence-value-input" placeholder="Value" aria-describedby="basic-addon">
                                            <span class="input-group-addon" id="basic-addon">%</span>
                                        </div>
                                </div>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <h3>Statistical Significance of Function</h3>
                            <p>You can use a subset of trials for the statistical significance calculation.</p>
                            <div class="row">
                                <div class="col-xs-12">
                                <input id="statistical-use-all-trials" type="checkbox"> Use all trials
                                <p>Select a range of trials to use in calculation (i.e. [Start, End]). <b>According to the database, there were {{ numTrials }} trials. </b>Trials are typically 1-based, depending on how the trials were injected into the database.</p>
                                <div>
                                    <div class="input-group" style="float:left;">
                                        <input type="text" class="form-control" id="statistical-trial-start" placeholder="From">
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="statistical-trial-end" placeholder="To">
                                    </div>
                                </div>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <h3>Default Graphs</h3>
                            <p>Select the graphs that you would like to be automatically generated when this page is loaded.</p>
                            <div class="row">
                                <div class="col-sm-4">
                                <h5><strong>Injections</strong></h5>
                                <input class="settings-my-graph-checkbox" type="checkbox" name="settings-my-graph-checkbox-1"> Types of injected functions<br>
                                <input class="settings-my-graph-checkbox" type="checkbox" name="settings-my-graph-checkbox-2"> Bit Locations<br>
                                <input class="settings-my-graph-checkbox" type="checkbox" name="settings-my-graph-checkbox-3"> Injected functions<br>
                                <input class="settings-my-graph-checkbox" type="checkbox" name="settings-my-graph-checkbox-4"> Injection type per function<br>
                                <input class="settings-my-graph-checkbox" type="checkbox" name="settings-my-graph-checkbox-5"> Injections mapped to line numbers<br>
                                </div>
                                <div class="col-sm-4">
                                <h5><strong>Signals</strong></h5>
                                <input class="settings-my-graph-checkbox" type="checkbox" name="settings-my-graph-checkbox-6"> Unexpected Termination<br>
                                </div>
                                 <div class="col-sm-4">
                                <h5><strong>Detections</strong></h5>
                                <input class="settings-my-graph-checkbox" type="checkbox" name="settings-my-graph-checkbox-7"> Number of trials with detection<br>
                                <input class="settings-my-graph-checkbox" type="checkbox" name="settings-my-graph-checkbox-8"> Detected injection bit location<br>
                                <input class="settings-my-graph-checkbox" type="checkbox" name="settings-my-graph-checkbox-9"> Detection latency<br>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <h3>Custom Constraints</h3>
                            <p>Select the columns in the database that you would like to use in implementing constraints</p>
{% for table,columns in databaseDetails.items() -%}
{% if loop.index % 3 == 1 %}
<div class="row">
{% endif %}
<div class="col-sm-4">
<h5><strong>{{table}}</strong></h5>
{% for column in columns -%}
<input class="settings-constraint-checkbox" data-table-name="{{table}}" data-column-name="{{column}}" type="checkbox" name="settings-table-{{table}}-checkbox-{{loop.index - 1}}"> {{column}} - {{columns[column]}}<br>
{% endfor %}
</div>
{% if loop.index % 3 == 0 %}
</div>
{% elif loop.last %}
</div>
{% endif %}
{% endfor %}

                    <div style="margin-top:10px;">
                    <hr />
                    <a>Restore config file to default (Not yet implemented)</a>
                    <h5><strong>After saving, please refresh the page to see changes.</strong></h5>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="settings-save">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        var functionList = {{functionList|tojson}};
        var injectedFunctionList = {{injectedFunctionList|tojson}};
        var notInjectedFunctionList = {{notInjectedFunctionList|tojson}};
        var databaseDetails = {{databaseDetails|tojson|safe}};
        var mainGraphList = {{mainGraphList|tojson|safe}};
        var localAutoGeneratedGraph;
        var localGeneratedGraph;
    </script>
    <script type="text/javascript" charset="utf-8" src="../static/faultsight.js"></script>
    <script type="text/javascript">
        initApplicationPage();
    </script>

</html>
